@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}

p{
 font-size: 13px;   
 font-weight: 400;
}

*{
    margin: 0px;
}



/*NAVBAR*/

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    padding: 0.2vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

nav img {
    width: 75px;
    cursor: pointer;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav .navigation ul li {
    margin: 0 15px;
}

.navigation ul li a.active{
    border: #fdc93b;
    color: #fdc93b;
}

nav .navigation {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width: 60%;
}

/* Media Query for responsive navbar */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 0.5vw 5vw;
    }

    nav .navigation {
        width: 100%;
    }

    nav .navigation ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}
nav .navigation ul li a:hover,
nav .navigation ul li a.active {
    color: #fdc93b;
}

nav .navigation ul li a.active::after,
nav .navigation ul li a:hover::after {
    content: '';
    width: 3%;
    height: 2px;
    background-color: #fdc93b;
    position: absolute;
    bottom: 25px;
    margin-left: -50px
}


/* SECTION HOME*/

#home{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("../assets/back.jpeg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#home h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px; 
}

#home p{
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px; 
}


#home .btn{
    margin-top: 30px;
}

#home a{
    text-decoration: none;
    font-size: 0.9;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
    margin: 10px;
}

#home a.blue{
   color: white ;
   background-color: rgb(21, 21, 100);
}

#home a.blue:hover{
    color: rgb(21, 21, 100) ;
   background-color:white;
}


#home a.yellow{
    color: white ;
    background-color: #fdc93b;
 }
 
 #home a.yellow:hover{
     color: #fdc93b;
    background-color: white;
 }


    /* SECTION FEATURES*/
 
 #features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
 }

 #features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap:1rem ;  
 }

 #features .fea-box{
    background-color: #f9f9ff;
    text-align: start;
    padding: 30px;
    margin: 10px;
}

#features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
    font-weight: 500;
}

#features h3{
    font-size: 1.3rem;
    color: rgb(44, 44, 80);
    font-weight: 500;
}


.iconbox{
    width: 2.3rem;
    height: 2.3rem;
}

.str{
    width: 1rem;
    height: 1rem;
}

   
     /* SECTION COURSES*/    

#course{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
    box-shadow: 1px 3px 4px #f9f9ff;

}
#course h1{
    color: #fdc93b;
}

.titre{
    color: black;
    font-size: 12pt !important;
    font-weight: 500 !important;
    margin: 15px;
}


#course .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap:1rem ;  
}

#course .courses{
    text-align: start;
    background-color: #f9f9ff;
    height: 50vh;
    position: relative;
    margin-bottom: 15px;
    box-shadow: 2px 3px 4px gainsboro;
}

#course .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.box-name
{
   font-size: 3rem;
   font-weight: 700;
   color: #fdc93b;    
}

.class-day{
    color: rgb(92, 90, 90);
}

.details{
    padding: 10px;
    margin-top: 25px;
}

.cost{
    height: 70px;
    width: 70px;
    background-color: rgb(74, 74, 136);
    text-align: center;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    line-height: 70px;
    position: absolute;
    right: 15px;
    bottom: 98px;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 14px;
    color: #fdc93b;
}

.start{
    height: 20px !important;
    width: 20px !important;
}

.start-box{
    display: flex;
    margin-top: 2px;
    margin-bottom: 5px;
    align-items: center;
}

h4{
    margin-top: 2px;
}

.avis{
    font-size: 13px;
    color: rgb(74, 74, 136);
    font-style: normal;
    margin-left: 8px;
}


   /* SECTION REGISTRATION*/
#registration{
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81, 91, 233, 0.5)), url('../assets/register.jpg');
    height: 100% !important;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#registration .reminder{
    color: white;
}

#registration .reminder h1{
    color: white;
}

#registration .reminder .time{
    display: flex;
    margin-top: 40px ;
}

#registration .reminder .time .date{
    text-align: center;
    padding: 13px 33px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin:  0 5px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1.1rem;
    font-weight: 600;
}

#registration .form{
text-decoration: none;
font-size: 0.9rem;
font-weight: 600;
border-radius: 5px;
background-color: white;
border-radius: 8px;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
padding: 40px;
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#registration .form input{
 margin: 10px 0;
 padding: 10px 5px;
 border: 1px solid rgb(84, 40, 241);
 outline: none;
}

#registration .form a.yellow{
    color: white ;
    background-color: #fdc93b;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
 }


 #registration .form .btn{
    margin-top: 20px;
 }


  /* SECTION EXPERT*/


#Expert{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
    box-shadow: 1px 3px 4px #f9f9ff;

}

.titre{
    color: black;
    font-size: 12pt !important;
    font-weight: 500 !important;
    margin: 15px;
}
#Expert .Expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap:1rem ;  
}

#Expert .experts{
    text-align: center;
    background-color: #f9f9ff;
    height: 40vh;
    position: relative;
    margin-bottom: 15px;
    box-shadow: 2px 3px 4px gainsboro;
}

#Expert .experts img{
    margin: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

}
#Expert .class-day{
    color: #111826;

}
#Expert .details{
    margin: -20px;
}
#Expert .social-ex img{
    width: 10%;
    height: 10%;
    background-size: cover;
    background-position: center;
    margin: 7px;

}

 /*FOOTER*/


 #pied-page{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #1a2238;
    color: white;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #111826;
}
.footer div {
    margin: 30px 10px;
    flex: -4;
    padding: 10px;
}
.footer div h3 {
    margin-bottom: 20px;
}
.footer p{
    font-size: 12px;
    transform: translateY(-70%);
}
.footer div ul {
    list-style: none;
    padding: 0;
}
.footer div ul li {
    margin-bottom: 16px;
}

.footer .newsletter input {
    display: flex;
    padding: 8px;
    margin-top: 19px;
    margin-right: 10px;
    border: none;
    color: #7b7a7a;
    background-color: #3e5081;
    outline: none;
}
.footer .newsletter button {
    display: flex;
    margin-left: 185px;
    margin-top: -32px;
    padding: 8px 10px;
    background-color: white;
    color:  #8c3d9c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.footer .social {
    display: flex;
    justify-content: space-around;
}
.footer .social i {
    transform: translateY(-500%);
}
.copyright {
  background-color: #111826;
}
.copyright p{
    transform: translateX(2%);
}
.copyright img{
    margin-bottom: 30px;
    transform: translateX(5400%);
    width: 20px;
    height: 20px;
    background-size: cover;
}

/* section About us*/

.heading{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0px auto;
}
.heading h1{
    font-size: 40px;
    color: #000;
    margin-top: 80px;
    position: relative;
}
.heading h1::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #fdc93b;
}
.heading p{
    font-size: 18px;
    color: #666;
    margin-top: 50px;
}
.container1{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fdc93b;
    color: #FFF;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.about-content .read-more:hover{
    background-color:  rgb(20, 20, 87);
}

 /*TABLEAU */

table{
    margin: 15px;
    margin-left: 100px;
    border-collapse: collapse;
}
caption{
    font-size: 25px;
    font-weight: 500;
    color: #fdc93b;
    margin: 20px;
}
th,td{
    max-width: 350px;
    min-width: 350px;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
th{
    background:  rgb(20, 20, 87);
    color: #fff;
}
tr:mth-of-type(even){
    background: #7b7a7a;
}

    /*LE RESPONSIVE*/


@media screen and (max-width: 768PX) {
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;
    }
}
#body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background:  linear-gradient( rgba(81, 91, 233, 0.5),rgba(228, 245, 145, 0.5));
}
.container{
    max-width: 700px;
    width: 100%;
    background: #FFF;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
}
.container .title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background:linear-gradient(135deg,#d7f991, #74a1f0);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    overflow: hidden;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 35px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #CCC;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #5f59b6;
} 
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    width: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #FFF;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#ebfda5, #92c0f6);
}
form .button input:hover{
    background: linear-gradient(-135deg,#71b7e6, #9b59b6);

}
@media(max-width: 584PX){
    .container{
        margin: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .user-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}